
3DUI Final Project/Temp/UnityLockfile
3DUI Final Project/Library/ArtifactDB
3DUI Final Project/Library/PackageCache/com.ptc.vuforia.engine@9.0.12/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia
3DUI Final Project/Library/